@media screen and (max-width: 700px) {
  .about-containers {
    flex-direction: column;
  }
}


@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding-top: 4vh;
  }
  #contact,
  footer {
    height: 35vh;
  }
  #profile {
    margin-bottom: 0;
    height: unset;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container {
    flex-direction: column;
  }
  .contact-info-container {
    margin: 5px;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 70vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .container {
    width: 60%;
    min-width: 400px;
  }
  .skills-grid {
    grid-template-columns: 1fr; /* Stack columns vertically */
  }
  
  .skill-card h2 {
    font-size: 1.25rem; /* Slightly smaller font size */
  }

  .skill-list li {
    font-size: 0.9rem; /* Adjust text size for smaller screens */
    padding: 6px; /* Adjust padding */
  }
}

/* Responsive Styles for Very Small Screens (e.g., Mobile Phones) */
@media (max-width: 480px) {
  .container {
    min-width: 360px;
  }
  .skill-card {
    padding: 15px; /* Reduce padding */
  }

  .skill-card h2 {
    font-size: 1.1rem; /* Smaller font size */
  }

  .skill-list li {
    font-size: .9rem; /* Smaller text size */
    padding: 5px; /* Adjust padding */
  }
}
